<!DOCTYPE html>
<html>
    <head>
        <title>Latest News</title>
        
         <link href = 'static/Main.css' type = 'text/css' rel = 'stylesheet'>
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <meta charset ="utf-8">
        <meta name ="viewport" content = "width=device-width, inital-scale=1">
        
    </head>
    <body>

 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MMA Journal</a>
    </div>
    
      <div id="clock"></div>

    <!-- links to other pages -->
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="nav navbar-nav">
        <li><a href="https://website-205cde-joebundy96.c9users.io/Home">Home</a></li>
        &nbsp&nbsp
        <li class=active><a href="https://website-205cde-joebundy96.c9users.io/latestnews">Latest News</a></li>
        &nbsp&nbsp
         <li><a href="https://website-205cde-joebundy96.c9users.io/events">Events</a></li>
        &nbsp&nbsp
        <li><a href="https://website-205cde-joebundy96.c9users.io/Form">Comments</a></li>
        &nbsp&nbsp
    </div>
  </div>
</nav>

<div class = 'container'>
  <div class = 'jumbotron'>
    <h1>Jones to go head to head with DC at UFC 200</h1>
      <div class = "container">
        <p>After Jones defeated Saint Preux at UFC 197 this past saturday he made his opinions heard about his UFC 200 opponent and long time rival 
        Daniel Cormier. There has been a lot of heat between these two competitors since their first bout for the UFC Light Heavyweight championship in 
        January last year. The two fighters were constantly at each others throats leading up to their fisrt fight. During the staredown at a press 
        confernece the two exchanged words before breaking out into a fight. The tension built and eventually they were able to release their anger 
        on each other in the octogon. Jones picked u the victory rataining his title untill he later had to relinquish it after being suspended. This gave
        DC the opportunity to win the vacant UFC Light Heavyweight championship. Now both champions will go face to face in their long awaited rematch 
        at UFC 200.</p>
      <footer>Monday 25th April 2016</footer>
      </div>


  </div>
</div>

<script type="text/javascript" src="static/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="js/bootstrap.min.js"></script>
    </body>
</html>