<!DOCTYPE html>
<html>
    <head>
        <title>Latest News</title>
        
         <link href = 'static/Main.css' type = 'text/css' rel = 'stylesheet'>
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <meta charset ="utf-8">
        <meta name ="viewport" content = "width=device-width, inital-scale=1">
        
    </head>
    <body>

 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MMA Journal</a>
    </div>
    
      <div id="clock"></div>

    <!-- links to other pages -->
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="nav navbar-nav">
        <li><a href="https://website-205cde-joebundy96.c9users.io/Home">Home</a></li>
        &nbsp&nbsp
        <li class=active><a href="https://website-205cde-joebundy96.c9users.io/latestnews">Latest News</a></li>
        &nbsp&nbsp
         <li><a href="https://website-205cde-joebundy96.c9users.io/events">Events</a></li>
        &nbsp&nbsp
        <li><a href="https://website-205cde-joebundy96.c9users.io/Form">Comments</a></li>
        &nbsp&nbsp
    </div>
  </div>
</nav>

<div class = 'container'>
  <div class = 'jumbotron'>
    <h1>Saint Preux suffers broken arm</h1>
      <div class = "container">
        <p>Last night at UFC 197 Jon Jones went head to head with Ovince Saint Preux to determine the new interim UFC Light Heavyweight champion who
        will go on to face daniel cormier for the UFC Light Heavyweight championship. The fight saw jon jones earn himself a unanimous decision agaisnt 
        saint Preux, however in the second round Jones went for a head kick which was blocked by Saint Preux breaking his arm in the process.
        Saint Preux went to fight another three rounds with a broken ar until the final bell rung. Saint Preux will need surgery on his arm which means
        he will be out of action possibly till next year. As for Jones, he wll be going on the face Daniel Cormier at UFC 200 for the new main event after 
        Conor McGregr was pulled from the card ealier this week. UFC 200 will take place on 9th July 2016 in Las Vegas.</p>
      <footer>Sunday 24th April 2016</footer>
      </div>


  </div>
</div>

<script type="text/javascript" src="static/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="js/bootstrap.min.js"></script>
    </body>
</html>