<!DOCTYPE html>
<html>
    <head>
        <title>Latest News</title>
        
         <link href = 'static/Main.css' type = 'text/css' rel = 'stylesheet'>
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <meta charset ="utf-8">
        <meta name ="viewport" content = "width=device-width, inital-scale=1">
        
    </head>
    <body>

 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MMA Journal</a>
    </div>
    
      <div id="clock"></div>

    <!-- links to other pages -->
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="nav navbar-nav">
        <li><a href="https://website-205cde-joebundy96.c9users.io/Home">Home</a></li>
        &nbsp&nbsp
        <li class=active><a href="https://website-205cde-joebundy96.c9users.io/latestnews">Latest News</a></li>
        &nbsp&nbsp
         <li><a href="https://website-205cde-joebundy96.c9users.io/events">Events</a></li>
        &nbsp&nbsp
        <li><a href="https://website-205cde-joebundy96.c9users.io/Form">Comments</a></li>
        &nbsp&nbsp
    </div>
  </div>
</nav>

<div class = 'container'>
  <div class = 'jumbotron'>
    <h1>Conor McGregor pulled from UFC 200</h1>
      <div class = "container">
        <p>Earlier this week UFC president Dana White had announced that Conor McGregor will no longer be on the UFC 200 card.
        The reason was because conor refused to attend a press conference in Las Vegas, instead he decied to travel to Iceland to continue his training.
        Prior to this incident there was speculation about the UFC Featherweight champion retiring as he has tweeted about retitiring young. 
        People are still unclear if Conar is really retiring soon but currently there is still more talk on whether or not Conor will be placed
        back into the UFC 200 main event against Nate Diaz.</p>
      <footer>Thursday 21st April 2016</footer>
      </div>


  </div>
</div>

<script type="text/javascript" src="static/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="js/bootstrap.min.js"></script>
    </body>
</html>