<!DOCTYPE html>
<html>
    <head>
        <title>Events</title>
        
         <link href = 'static/Main.css' type = 'text/css' rel = 'stylesheet'>
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <meta charset ="utf-8">
        <meta name ="viewport" content = "width=device-width, inital-scale=1">
        
    </head>
    <body>

 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MMA Journal</a>
    </div>
    
    <div id="clock"></div>

    <!-- links to other pages -->
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="nav navbar-nav">
        <li><a href="https://website-205cde-joebundy96.c9users.io/Home">Home</a></li>
        &nbsp&nbsp
        <li><a href="https://website-205cde-joebundy96.c9users.io/latestnews">Latest News</a></li>
        &nbsp&nbsp
         <li class=active><a href="https://website-205cde-joebundy96.c9users.io/events">Events</a></li>
        &nbsp&nbsp
        <li><a href="https://website-205cde-joebundy96.c9users.io/Form">Comments</a></li>
        &nbsp&nbsp
    </div>
    
  </div>
</nav>


<div class = 'container'>
  <div class = 'jumbotron'>
    <h1>Events</h1>
    
     <!-- Articles -->
      <div class = "container" id="Article3">
        <header>Date: 08/05/2016  Location: Rotterdam, Netherlands</header>
        <p>UFC Fight Night: Overeem vs. Arlovsky</p>
      </div>
      &nbsp&nbsp
    
      <div class = "container" id="Article2">
        <header>Date: 14/05/2016  Location: Curitiba, Brazil</header>
        <p>UFC 198: Werdum vs. Miocic</p>
      </div>
      &nbsp&nbsp
     
      <div class = "container" id="Article1">
        <header> 21/05/2016  Location: Las Vegas, Nevada, U.S.</header>
        <p>UFC Fight Night: Almeida vs. Garbrandt</p>
      </div>
      &nbsp&nbsp
      
      <div class = "container" id="Article2">
        <header>Date: 04/06/2016  Location: Inglewood, California, U.S.</header>
        <p>UFC 199: Rockhold vs. Weidman 2</p>
      </div>
      &nbsp&nbsp
     
      <div class = "container" id="Article2">
        <header>Date: 18/06/2016  Location: Ottawa, Ontario, Canada</header>
        <p>UFC Fight Night: MacDonald vs. Thompson</p>
      </div>
      &nbsp&nbsp
     
      <div class = "container" id="Article2">
        <header>Date: 07/07/2016  Location: Las Vegas, Nevada, U.S.</header>
        <p>UFC Fght Night: Dos Anjos vs. Alvarez</p>
      </div>
      &nbsp&nbsp
      
      <div class = "container" id="Article2">
        <header>Date: 08/07/2016  Location: Las Vegas, Nevada, U.S. </header>
        <p>UFC Ultimate Fighter: Team Joanna vs. Team Claudia Finale</p>
      </div>
      &nbsp&nbsp
      
      <div class = "container" id="Article2">
        <header>Date: 09/07/2016   Location: Las Vegas, Nevada, U.S.</header>
        <p>UFC 200: Cormier vs. Jones 2</p>
      </div>
      &nbsp&nbsp
      
  </div>
</div>


<script type="text/javascript" src="static/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="js/bootstrap.min.js"></script>
    </body>
</html>