<!DOCTYPE html>
<html>
    <head>
        
        <link href = 'static/Main.css' type = 'text/css' rel = 'stylesheet'>
        
        <title>My website</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <meta charset ="utf-8">
        <meta name ="viewport" content = "width=device-width, inital-scale=1">
        
        
    </head>
    
    <body>
       <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
  
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">MMA Journal</a>
    </div>
    
      <div id="clock"></div>
    
    <!-- links to other pages -->
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="nav navbar-nav"> 
        <li class=active><a href="https://website-205cde-joebundy96.c9users.io/Home">Home</a></li>
        &nbsp&nbsp
        <li><a href="https://website-205cde-joebundy96.c9users.io/latestnews">Latest News</a></li>
        &nbsp&nbsp
        <li><a href="https://website-205cde-joebundy96.c9users.io/events">Events</a></li>
        &nbsp&nbsp
        <li><a href="https://website-205cde-joebundy96.c9users.io/Form">Comments</a></li> 
        &nbsp&nbsp 
        
    </div>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
   
   <!-- Image Slideshow --> 
    <div class = 'jumbotron'>
   <div id="carousel" class="carousel slide" data-ride="carousel">
  
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
 
  
  <div class="carousel-inner">
    <div class="item active">
      <img src="../static/Conor.jpg" alt="conor">
      <div class="carousel-caption">
      	<h3>Welcome to MMA Journal</h3>
      </div>
    </div>
    <div class="item">
      <img src="../static/ronda.jpg" alt="ronda">
      <div class="carousel-caption">
      	<h3></h3>
      </div>
    </div>
    <div class="item">
      <img src="../static/Strike.jpg" alt="Strike">
      <div class="carousel-caption">
      	<h3></h3>
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> 
    </div>
    
    <p>MMA Journal brings you all of the latest news and events in MMA from around the world.</p>
    
  </div>
</div>

<script type="text/javascript" src="static/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="js/bootstrap.min.js"></script>

    </body>
</html>