<!DOCTYPE html>
<html>
    <head>
        <title>Latest News</title>
        
         <link href = 'static/Main.css' type = 'text/css' rel = 'stylesheet'>
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <meta charset ="utf-8">
        <meta name ="viewport" content = "width=device-width, inital-scale=1">
        
    </head>
    <body>

 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MMA Journal</a>
    </div>
    
    <div id="clock"></div>

    <!-- links to other pages -->
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="nav navbar-nav">
        <li><a href="https://website-205cde-joebundy96.c9users.io/Home">Home</a></li>
        &nbsp&nbsp
        <li class=active><a href="https://website-205cde-joebundy96.c9users.io/latestnews">Latest News</a></li>
        &nbsp&nbsp
        <li><a href="https://website-205cde-joebundy96.c9users.io/events">Events</a></li>
        &nbsp&nbsp
        <li><a href="https://website-205cde-joebundy96.c9users.io/Form">Comments</a></li>
        &nbsp&nbsp
    </div>
  </div>
</nav>

<div class = 'container'>
  <div class = 'jumbotron'>
    <h1>Latest News</h1>
    
    
     <!-- Articles -->
      <div class = "container" id="Article3">
        <header> 21/04/2016</header>
        <p>Jones vs Cormier 2 for UFC 200</p>
        <a href="https://website-205cde-joebundy96.c9users.io/article3">Read More</a>
      </div>
      &nbsp&nbsp
    
      <div class = "container" id="Article2">
        <header> 24/04/2016</header>
        <p>Ovince Saint Preux broken arm</p>
        <a href="https://website-205cde-joebundy96.c9users.io/article2">Read More</a>
      </div>
      &nbsp&nbsp
     
      <div class = "container" id="Article1">
        <header> 21/04/2016</header>
        <p>Conar McGregor pulled from UFC 200</p>
        <a href="https://website-205cde-joebundy96.c9users.io/article1">Read More</a>
      </div>
      
  </div>
</div>

<script type="text/javascript" src="static/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="js/bootstrap.min.js"></script>
    </body>
</html>